@import './common/_variables.scss';

.App {
    width:100%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./SAITBackground.jpg")
}

.AppToolbar {
    background-color: $darkBlue;
}

.AppMenuInvisibleLink {
    outline: none;
    text-decoration: none;
    color: white;
}

.AppContentContainer {
    border-top: solid 10px rgb(134, 134, 134);
    background-color: rgb(223, 220, 226);
    margin: $appContentContainerMargin;
    flex-grow: 1;
    overflow: scroll;
    padding-bottom: 50px;
}
.AppContainer {
    display: flex;
    height: 100%;
}

h1 {
    color:rgb(63, 81, 181);
    font-weight: bold;
  }
  .buttons-right>button {
    float: right;
    margin: 5px;
  }
  .app-container {
    padding: 25px;
  }
  
  .percentage-number {
    color: rgb(63, 81, 181);
    font-size: 50px;
    font-weight: bold;
  }
  .percentage-sign {
    color: rgb(63, 81, 181);
    font-size: 40px;
  }
  .percentage-container {
    text-align: center;
  }
  .percentage-container:first-child {
    padding-bottom: 3em;    
  }

  .container .row div {
    outline: solid 1px black;
  }