/* PLACEHOLDER 
============================================= */

%btn {
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    display: block;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%body-text {
    font-size: 16px;
}